*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#Title{
    display: flex;
    justify-content: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5vh;
    padding: 1vh;
    align-items: center
}
#navbar{
    color: white;
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3vh;
}
#body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: baseline;
}
#grid, #held, #next{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 1.5vw;
}